@media screen and (max-width: 768px) {
  .header {
    display: none !important;
  }
  .footer {
    display: none !important;
  }
  .munculdihp {
    display: block !important;
    position: unset !important;
    margin: 0 auto !important;
  }
  details {
    width: 100% !important;
  }
  h1 {
    font-size: 20px !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #f8d3da;
  border-radius: 2px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.header {
  background-image: url("https://ayano.rei.my.id/images/bg.jpg");
  height: 670px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.title {
  padding-left: 250;
  padding-top: 150;
  text-align: left;
  font-size: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #f8d3da;
  line-height: 0%;
}

.description {
  padding-left: 250;
  width: 400px;
  padding-bottom: 0;
  text-align: left;
  font-size: 20px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #f8d3da;
}

.button {
  position: relative;
  left: 250;
  width: 200;
  padding: 16px 32px;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: #ffffff;
  color: #f8d3da;
  border: 2px solid #f8d3da;
}

.button2:hover {
  background-color: #f8d3da;
  color: #ffffff;
}

.main {
  margin: 0 auto;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #f8d3da;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  color: #f8d3da;
}
.tg td {
  border-color: #f8d3da;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  width: 500px;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: #f8d3da;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-0lax {
  text-align: center;
  vertical-align: top;
}

details {
  width: 450px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  background: #f8d3da;
  color: #ffffff;
  position: relative;
}

summary:before {
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.footer {
  background-image: url("https://ayano.rei.my.id/images/bgbawah.jpg");
  height: 320px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.credit {
  display: block;
  margin: auto;
  padding-top: 10%;
  height: 100px;
  width: 100px;
}

.creditname {
  text-align: center;
  color: #ffffff;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.munculdihp {
  display: none;
}
